{% extends "layout.html" %}

{% block content %}
<div>
    <h1 style="text-align:center">About Bitstonker<br><br></h1>
    <p>Thank you for visiting <b>bitstonker.com</b>. This is a hobby project so it is a little rough around the edges but I
        hope you find it useful. This website is intended to show the performance of investing your bitcoin in stocks.<br><br>
    </p>
    <p>
        <b>What is bitcoin?</b> <br>
        Bitcoin is a decentralized permissionless global cryptocurrency that runs on a blockchain. If that doesn't make sense to you, don't feel bad
        because most people still don't get it. If you would like to learn more about bitcoin, Peter McCormack made a great beginner's guide
        on his What Bitcoin Did podcast. <a href="https://www.whatbitcoindid.com/podcast/bitcoin-in-one-lesson">What Bitcoin Did: Bitcoin in One Lesson</a>
        (duration 1hr). If you are feeling more ambitious <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861">
        The Bitcoin Standard</a> by Saifedean Ammous will give you a good foundational knowledge of bitcoin. <br>

        <div style="text-align:center"> 
            <a href="https://www.whatbitcoindid.com/podcast/bitcoin-in-one-lesson">
                <img src="{{url_for('static', filename='WBD.png')}}" class="img-fluid" alt="stonk meme" style="max-width:10%;margin:5px 50px">
            </a>
            <a href="https://www.amazon.com/Bitcoin-Standard-Decentralized-Alternative-Central/dp/1119473861">
                <img src="{{url_for('static', filename='bitcoin_standard.jpg')}}" class="img-fluid" alt="stonk meme" style="max-width:5%;margin:5px 50px">
            </a>
        </div>
        <br>
    </p>
    <p>
        <b>What is a sat?</b> <br>
        Each bitcoin can be divided into 100,000,000 units called satoshis (sats). This is named after Satoshi Nakamoto the pseudonymous creater of bitcoin.
        <br>
    <br>
    </p>
    <p>
        <b>What is a stonk?</b> <br>
        A stonk is a meme used to poke fun at poor investments. This term has grown in popularity in the 2020's as the stock
        market has continued to rise despite major changes in demand due to the Covid19 pandemic.
        <br>
        <div style="text-align:center"> 
            <a href="https://knowyourmeme.com/memes/stonks">
                <img src="{{url_for('static', filename='stonk_meme.jpg')}}" class="img-fluid" alt="stonk meme" style="max-width:30%">
            </a>
        </div>
        <br>
    </p>
    <p>
        <b>How was daily price in bitcoin calculated?</b> <br>
        The daily price was calculated using the close price of the stock and the average of the daily high and low of bitcoin. This is not a perfectly 
        accurate method but due to bitcoin being available 24/7 the database did not have the price of bitcoin at stock market close.<br><br>
    </p>
    <p>
        <b>Why are the dates limited?</b> <br>
        The dates for the bitcoin database are limited to 1000 days prior to today. As of now it also does not have any future dates but if that changes
        I will be sure to update this from my private island. <br><br>
    </p>
    <p>
        If you have any questions or comments feel free to send them to <b>bitstonker@gmail.com</b>
    </p>
</div>
{% endblock %}