{% extends "layout.html" %}

{% block content %}
<h1>About bitstonker.com</h1>
<p>Thank you for visiting bitstonker.com This is my first web project so it is a little rough around the edges but I hope you find it
    useful. This website is intended to show the performance of investing your bitcoin in stocks.
</p>
<p>
    <b>What is a stonk?</b> <br>
    A stonk is a meme used to poke fun at poor investments. This term has grown in popularity in the 2020's as the stock market 
    has continued to rise despite major changes to demand due to the Covid19 pandemic.
    <a class="nav-link" href="https://knowyourmeme.com/memes/stonks">knowyourmeme.com-stonks</a>
    </p>
{% endblock %}