{% extends "layout.html" %}

{% block content %}
    <h1 style="text-align:center">Oops, something went wrong.<br><br></h1>
    <div style="text-align:center">
        <a href="https://twitter.com/PeterSchiff/status/1303009420713111553">
            <img src="{{url_for('static', filename='schiffy.png')}}" class="img-fluid" alt="" style="margin:5%">
        </a>
    </div>
    <h6>This website is a portfolio project and has a limited number of API calls. Please wait a few seconds and try again. If you are still
        having trouble feel free to email me at bitstonker@gmail.com
    </h6>
    <h3><br><a href="{{ url_for('index') }}">Back</a></h3>
{% endblock %}