{% extends 'layout.html' %}

{% block content %}
<h1 style="text-align:center">Bit Stonker <br><br></h1>
<form class="form-inline" action="{{ url_for('index') }}" method="POST">
    <div class="form-group"><input type="text" name="stonk" class="form-control" style="margin:5px 10px"
            placeholder="Type your stonk here."></div>
    <div class="form-group">
        <label for="start_date" style="margin:5px 10px">Start Date: </label>
        <input type="date" name="start_date">
    </div>
    <div class="form-group">
        <label for="end_date" style="margin:5px 10px 5px 10px">End Date: </label>
        <input type="date" name="end_date" style="margin:5px 10px 5px 5px">
    </div>
    <div class="form-group float-right">
        <label for="dollar_check" style="margin:5px 5px 5px 10px">Include dollar price: </label>
        <input type="checkbox" name="dollar_check" id='dollar_check'>
    </div>
    <div class="form-group float-right">
        <button type="submit" class="btn btn-info" style="margin:5px 10px">Submit</button>
    </div>
</form>
<p>
    <br>
    <a class="btn btn-secondary btn-sm" data-toggle="collapse" style="margin:0px" href="#bitstonker_explain" role="button" aria-expanded="false"
        aria-controls="bitstonker_explain">
        HELP 
    </a>
</p>
<div class="collapse" id="bitstonker_explain">
    <div class="card card-body">
        <p>Type in the ticker symbol for the stonk you would like to see priced in Bitcoin. Type in the range of dates; the
        bitcoin data goes back to Jan 1, 2016. The "include dollar price" checkbox will have the graph include the stonk's 
        performance priced in dollars as well as in bitcoin. If you need more help head over to the <a href="{{ url_for('about') }}">about page</a>.</p>
    </div>
</div>
<div style="display:{{graph_display}}">
    <img src="{{url_for('static', filename=graph)}}" class="img-fluid" alt="assets trending to zero">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Start price</th>
                <th scope="col">End price</th>
                <th scope="col">ROI</th>
                <th scope="col">ROI %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Dollar</th>
                <td>{{usd_start_price}}</td>
                <td>{{usd_end_price}}</td>
                <td>{{usd_roi}}</td>
                <td>{{usd_roi_pct}}</td>
            </tr>
            <tr>
                <th scope="row">Bitcoin (10k Sats)</th>
                <td>{{btc_start_price}}</td>
                <td>{{btc_end_price}}</td>
                <td>{{btc_roi}}</td>
                <td>{{btc_roi_pct}}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <p style="display:{{dollar_display}}"><b>
            The <span style="color:green">green</span> line is the stonk priced in dollars.<br>
        </b><br>
    <p><b>
            The <span style="color:orange">orange</span> line is the stonk priced in bitcoin
            (how much bitcoin it would take to buy one share).
            In the timeframe available the unit of ten thousand satoshis (.0001 bitcoin)
            is the closest to the dollar and makes for the easiest comparison.
            If the orange line goes up the stonk outperformed bitcoin.
            If the orange line goes down bitcoin outperformed the stonk.<br>
        </b><br>
        <a href="{{ url_for('about') }}">I don't get it</a>
    </p>
</div>
<div class='d-block d-lg-none' style="text-align:center">
    <img src="{{url_for('static', filename='bitcoin_rising.png')}}" class="img-fluid" alt="bitcoin rising"
        style="max-width:60%;margin:10%">
</div>
<div class='d-none d-lg-block' style="text-align:center">
    <img src="{{url_for('static', filename='bitcoin_rising.png')}}" class="img-fluid" alt="bitcoin rising"
        style="max-width:30%;margin:10%">
</div>
{% endblock %}